@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
:root{
    
--Light-red: hsl(0, 100%, 67%);
--Orangey-yellow: hsl(39, 100%, 56%);
--Green-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);

/* ## Gradients */

--Light-slate-blue: hsl(252, 100%, 67%);
--Light-royal-blue: hsl(241, 81%, 54%);

--Violet-blue: hsla(256, 72%, 46%, 1);
--Persian-blue : hsla(241, 72%, 46%, 0);



/* ### Neutral */

--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);
}
*{
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--Pale-blue);
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: 500px;
    border-radius: 25px;
    display: flex;
    position: relative;
}
/* left card  */
.left{
    border-radius: 25px;
    background-image: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
    width: 250px;
    text-align: center;
    padding: 20px 30px;
  

   
}
.result{
    color: var(--Light-lavender);
}
.circle{
    margin: 20px;
    padding: 30px 0px;
   
   border-radius: 50%;
 
  background-image: linear-gradient(var(--Light-royal-blue), var(--Light-slate-blue));
    
}

.circle > h1{
    opacity: 1;
    color: var(--White);
    font-size: 55px;
}
.circle > p{
    color: var(--Light-lavender);
    opacity: 0.6;
}
.great{
    padding: 10px 0;
    color: var(--Pale-blue);
}
.great > h2 {
    padding-bottom: 10px;
}
.great > p{
    font-size: 13px;
}

 /* right-card  */
 .right{
    position: relative;
    width: 250px;
    padding: 20px;
    background-color: var(--White);
    border-radius: 20px;
    
 }
 .right > h1{
    font-size: 25px;
    color: var(--Dark-gray-blue);
    padding-bottom: 10px;
 }
 
.list1-item{
    border-radius: 10px;
    margin: 20px 0;
    background-color: #fff6f5;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.list1-item > .text-react{
    color: var(--Light-red);
}
.list2-item{
    border-radius: 10px;
    margin: 20px 0;
    background-color: #fffbf2;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.list2-item > .text-react{
    color: var(--Orangey-yellow);
}
.list3-item{
    border-radius: 10px;
    margin: 20px 0;
    background-color: #f2fbfa;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.list3-item > .text-react{
    color: var(--Green-teal);
}
.list4-item{
    border-radius: 10px;
    margin: 20px 0;
    background-color: #f3f3fd;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.list4-item > .text-react{
    color: var(--Cobalt-blue);
}
.score{
    font-weight: 600;
}
.score > .full{
    color: var(--Dark-gray-blue);
    font-weight: 200;

}
button{
    width: 210px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: var(--White);
    background-color: var(--Dark-gray-blue);
}
button:hover{
    background-image: linear-gradient( var(--Light-slate-blue), var(--Light-royal-blue));
    
    cursor: pointer;
}
@media screen and (max-width: 520px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .left{
        width: 375px;
       /* height: 700px; */
        position: absolute;
        top: -60px;
        padding: 70px 80px;
    }
    .right{
        padding-top: 40px;
        position: relative;
        width: 375px;
        margin-top: 320px;
        border-radius: 0px 0px 20px 20px;
    }
    button{
        width: 335px;
        margin: 30px 0;
        padding: 20px 0;
        border-radius: 30px;
    }
}